<template>
<input type="text" placeholder="email id" v-model="emailId">
<br>
<input type="text" placeholder="password" v-model="password">
<br>
<button type="button" v-on:click="getData()">Login</button>
</template>

<script>

export default {
  name: "Login",
   data()
   {
        return {
            emailId:null,
            password:null
        }


}
}
</script>


